// Custom variables  

// Color Scheme
@import "variables/color-scheme";

// Options
// Quickly modify global styling by enabling or disabling optional features.
@import "variables/options";  

$grid-gutter-width: 38px !default;

$font-size-base:              .8125rem !default; // Assumes the browser default, typically `16px`

$font-weight-base:            400 !default;
$line-height-base:            1.7 !default; 

$grid-gutter-width: 38px !default; 

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;
 

// navbar
$navbar-padding-y:0!default;
$navbar-padding-x:0!default; 

$navbar-brand-padding-y:0!default;
$navbar-brand-padding-x:0!default;

/*
$nav-link-padding-y:
$nav-link-padding-x:
*/