.form-label{
	padding: 0 1rem;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 300;
	text-transform: uppercase;
}

.form-control{
	border: 0;
	border-radius: 0;
	height: 48px;
	padding: .5rem 1rem;
	background-color:transparent;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 300;
	background-image: linear-gradient(0deg,rgba($body-color,.6) 1px, rgba($body-color,.6) 1px);
	background-size: 100% 2px;
	background-repeat: no-repeat;
	background-position: bottom;
	&:focus{
		background-image: linear-gradient(0deg,$primary 1px,$primary 0);
		-webkit-animation: material-text-input-animate .3s forwards;
		animation: material-text-input-animate .3s forwards;
		background-color:transparent;
		&::placeholder{
			color:transparent;
		}
	}
	&, &:focus, &:active{
		@include box-shadow(none);
	}
	&::placeholder{
		text-transform: uppercase;
	}
}



@keyframes material-text-input-animate {
  0% {
    background-size: 0% 1px, 100% 1px;
  }

  100% {
    background-size: 100% 1px, 100% 1px;
  }
}